/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FULL WIDTH FIX (IMPORTANT FOR VITE) */
html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #f4f6f8;
}

/* NAVBAR */
.navbar {
  width: 100vw;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 22px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00bcd4;
}

/* SECTIONS */
.section {
  padding: 60px 30px;
  text-align: center;
}

/* HOME SECTION */
.home {
  width: 100vw;
  height: 100vh;
  background-color: #f39c76;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 48px;
}

.home p {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

/* SKILLS */
.skills {
  background-color: #7e4242;
}

.skill-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.skill-box span {
  background-color: #222;
  color: #f9f7f7;        /* Bright white text */
  font-weight: bold;     /* Makes text clearer */
  padding: 12px 18px;
  margin: 10px;
  border-radius: 8px;
  font-size: 16px;
}


/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background-color: rgb(94, 37, 37);
  width: 280px;
  margin: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* CONTACT */
.contact {
  background-color: #222;
  color: white;
}

/* FOOTER */
.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .home h1 {
    font-size: 32px;
  }
}
